
<table class="egt">

  <tr>

    <td>ArrivalAirport</td>
    <td>ArrivalDateTime</td>
    <td>DepartureAirport</td>
    <td>DepartureDateTime</td>
    <td>FlightNumber</td>
    <td>MarketingAirline</td>
    <td>MarriageGrp</td>
  </tr>

  <tr *ngFor="let item of fligthSegment">

    <td>{{item[0].ArrivalAirport.LocationCode}}</td>
    <td>{{item[0].ArrivalDateTime}}</td>
    <td>{{item[0].DepartureAirport.LocationCode}}</td>
    <td>{{item[0].DepartureDateTime}}</td>
    <td>{{item[0].FlightNumber}}</td>
    <td>{{item[0].MarketingAirline.Code}}</td>
    <td>{{item[0].MarriageGrp}}</td>

  </tr>

</table>